<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/Article">
  <head>
    <title>{{#resume.basics}}{{name}}－{{label}}{{/resume.basics}}</title>
    {{#resume.basics}}<meta name="author" content="{{name}}">{{/resume.basics}}

    <script src="material.min.js"></script>
    <link rel="stylesheet" href="material.indigo-pink.min.css">
    <link rel="stylesheet" href="icon.css">
    <link href="MaterialDesign-Webfont/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      {{{css}}}
    </style>
  </head>
<body>
  <div class="paper-card mdl-card mdl-shadow--6dp">
    <div class="left-card mdl-card">
      {{#resume.basics}}
        {{#if picture}}
          <div class="profile-card">
            <img src="{{picture}}"/>
          </div>
        {{/if}}
        <h1 class="name-tag white-text">{{name}}</h1>
        {{#if label}}
          <h2 class="designation-tag white-text">{{label}}</h2>
        {{/if}}
        {{#if summary}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">description</i></span>
            <div class="table-column"><span class="white-details">{{{summary}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if location}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">location_on</i></span>
            <div class="table-column"><span class="white-details">{{{location.city}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if email}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">email</i></span>
            <div class="table-column"><span class="white-details">{{{email}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if phone}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">phone</i></span>
            <div class="table-column"><span class="white-details">{{{phone}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#each profiles}}
          <div class="summary-container">
            <a href={{url}}>
              <span class="white-icon"><span class="mdi {{icon}} mdi-24px"></span></span>
              <div class="table-column"><span class="white-details">{{{username}}}</span></div>
            </a>
          </div>
          <div class="summary-container"><div class="line-splitter"></div></div>
        {{/each}}
      {{/resume.basics}}
    </div>
    <div class="right-card mdl-card">
      <div class="workexp-card mdl-card mdl-shadow--2dp">
        <h3 class="card-title-tag grey-text"><i class="material-icons">work</i> Work Experience</h3>
          <div>
            {{#each resume.work}}
              {{#if position}}<span class="work title grey-text">{{position}}{{#if company}} @ <a href="{{website}}" class="blue-text">{{company}}</a>{{/if}}</span><br>
              <p><span class="work exp grey-text">{{startDate}} to {{endDate}}</span></p>{{/if}}
              {{#if summary}}<p class="work summary grey-text">{{summary}}</p>{{/if}}
              {{#if highlights.length}}
                <ul class="work highlights grey-text">
                  {{#each highlights}}
                    <li>{{.}}</li>
                  {{/each}}
                </ul>
              {{/if}}

              <div class="line-splitter-grey"></div>
            {{/each}}
          </div>
      </div>
    </div>
  </div>

</body>
</html>
