<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/Article">
  <head>
    <title>{{#resume.basics}}{{name}}－{{label}}{{/resume.basics}}</title>
    {{#resume.basics}}<meta name="author" content="{{name}}">{{/resume.basics}}

    <script src="material.min.js"></script>
    <link rel="stylesheet" href="material.indigo-pink.min.css">
    <link rel="stylesheet" href="icon.css">
    <link href="MaterialDesign-Webfont/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      {{{css}}}
    </style>
  </head>
<body>
  <div class="paper-card mdl-card mdl-shadow--6dp">
    <div class="left-card mdl-card">
      {{#resume.basics}}
        {{#if picture}}
          <div class="profile-card">
            <img src="{{picture}}"/>
          </div>
        {{/if}}
        <h1 class="name-tag white-text">{{name}}</h1>
        {{#if label}}
          <h2 class="designation-tag white-text">{{label}}</h2>
        {{/if}}
        {{#if summary}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">description</i></span>
            <div class="table-column"><span class="white-details">{{{summary}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if location}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">location_on</i></span>
            <div class="table-column"><span class="white-details">{{{location.city}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if email}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">email</i></span>
            <div class="table-column"><span class="white-details">{{{email}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#if phone}}
          <div class="summary-container">
            <span class="white-icon"><i class="material-icons">phone</i></span>
            <div class="table-column"><span class="white-details">{{{phone}}}</span></div>
          </div>
        {{/if}}
        <div class="summary-container"><div class="line-splitter"></div></div>
        {{#each profiles}}
          <div class="summary-container">
            <a href={{url}}>
              <span class="white-icon"><span class="mdi {{icon}} mdi-24px"></span></span>
              <div class="table-column"><span class="white-details">{{{username}}}</span></div>
            </a>
          </div>
          <div class="summary-container"><div class="line-splitter"></div></div>
        {{/each}}
      {{/resume.basics}}

      {{#if resume.skills}}
        <div class="summary-container">
          <h2 class="skill-title-tag white-text">Professional Skills</h2>
          {{#resume.skills}}
            <h3 class="skill-name white-text">{{name}}</h3>

            <input class="score-slider" type="range" min="0" max="100" value="{{score}}" tabindex="0" disabled>

            <div class="keyword-cards">
              {{#keywords}}
              <span class="mdl-chip">
                  <span class="mdl-chip__text">{{.}}</span>
              </span>
              {{/keywords}}
            </div>
          {{/resume.skills}}
        </div>
      {{/if}}

      {{#if resume.education.length}}
        <div class="summary-container">
          <h2 class="skill-title-tag white-text">Education</h2>
          {{#resume.education}}
            <span class="edu-digree white-text">{{studyType}} of {{area}}</span>
            <span class="edu-institution white-text">{{institution}}</span>
            <span class="edu-institution white-text">{{endDate}}</span>
            <div class="line-splitter"></div>
          {{/resume.education}}
        </div>
      {{/if}}

      {{#if resume.languages.length}}
        <div class="summary-container">
          <h2 class="skill-title-tag white-text">Languages</h2>
          <div class="keyword-cards">
            {{#resume.languages}}
              <span class="mdl-chip">
                  <span class="mdl-chip__text">{{language}}</span>
              </span>
            {{/resume.languages}}
          </div>
        </div>
      {{/if}}

    </div>
    <div class="right-card mdl-card">
      <h3 class="card-title-tag blue-text"><span class="mdi mdi-trophy-award mdi-32px"> Awards</h3>
      {{#each resume.awards}}
        <div class="workexp-card mdl-card mdl-shadow--2dp">
          <div>
            {{#if title}}<div class="work title grey-text">{{title}}</div>{{/if}}
            {{#if date}}<div class="award-date blue-text">{{date}}</div>{{/if}}
          </div>
            <br>
          {{#if date}}<span class="work exp blue-text">{{awarder}}</span>{{/if}}

          {{#if summary}}<p class="work summary grey-text">{{summary}}</p>{{/if}}

          {{#if highlights.length}}
            <ul class="work highlights grey-text">
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          
        </div>
      {{/each}}

      <h3 class="card-title-tag blue-text"><i class="material-icons title-icons">work</i> 12yrs Experience</h3>
      {{#each resume.work}}
        <div class="workexp-card mdl-card mdl-shadow--2dp">
          {{#if position}}<span class="work title grey-text">{{position}}{{#if company}} <a href="{{website}}" class="blue-text">@{{company}}</a>{{/if}}</span><br>

          <span class="work exp blue-text">{{startDate}} to {{endDate}}</span>{{/if}}

          {{#if summary}}<p class="work summary grey-text">{{summary}}</p>{{/if}}

          {{#if highlights.length}}
            <ul class="work highlights grey-text">
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          
        </div>
      {{/each}}

      <h3 class="card-title-tag blue-text"><span class="mdi mdi-book-open mdi-32px"> Open Source</h3>
      <div class="grid-container">
        {{#each resume.volunteer}}
          <div class="volunteer-card mdl-card mdl-shadow--2dp">
            {{#if organization}}<a href="{{website}}" class="blue-text"><span class="work title blue-text">{{organization}}</span></a><br>{{/if}}
            {{#if highlights.length}}
              <ul class="volunteer-highlights grey-text">
                {{#each highlights}}
                  <li>{{.}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        {{/each}}
      </div>

    </div>
  </div>

</body>
</html>
